<div class="categories-list">
    <div class="row" 
         ng-repeat="item in $ctrl.items track by $index" 
         ui-sref="itemList({categoryName: item.short_name})">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card border-secondary m-3 bg-light">
                <div class="card-body">
                    <h4 class="card-title"> {{ item.short_name }} </h4>
                    <h5 class="card-subtitle"> {{ item.name }} </h5>
                    <p class="card-text category-special-instructions"> {{ item.special_instructions }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
