<div class="menu-list">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in $ctrl.items">
            <div class="card border-secondary m-3 bg-light">
                <div class="card-body">
                    <h4 class="card-title"> {{ item.short_name }} </h4>
                    <h5 class="card-title"> {{ item.name }}</h4>
                    <p class="card-text menu-item-description"> {{ item.description }}</p>
                    <p class="card-text" ng-show="item.price_small !== null && item.small_portion_name !== null">
                        ${{ item.price_small }} for {{ item.small_portion_name }}
                    </p>
                    <p class="card-text" ng-show="item.price_large !== null && item.large_portion_name !== null">
                        ${{ item.price_large }} for {{ item.large_portion_name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
