<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .error, ul {
        clear: both;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" 
        ng-controller="NarrowItDownController as narrower">

    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrower.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrower.getNarrowedItemList();">Narrow It Down For Me!</button>
    </div>
    <div class="error" style="clear: both;" ng-if="narrower.errorMessage.length !== 0"> {{ narrower.errorMessage }}</div>
    <found-items
      items="narrower.found"
      on-remove="narrower.removeItem(index)">
    </found-items>

  </div>

</body>
</html>
